# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# ChromaDB
chroma_*/


# Ignore files inside dataset folders
data/*
!data/.gitkeep

dialogues/*
!dialogues/.gitkeep