# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# =========================
# React / Node
# =========================
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Vector Database
# =========================
chroma_*/

# =========================
# Dataset
# =========================
data/*
!data/.gitkeep

dialogues/*
!dialogues/.gitkeeps