fastapi
uvicorn[standard]
pydantic

langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langchain-chroma

faiss-cpu
chromadb

sentence-transformers
huggingface-hub

python-dotenv
pyyaml