fastapi
uvicorn[standard]
pydantic

langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters

faiss-cpu
chromadb

sentence-transformers
huggingface-hub

python-dotenv
pyyaml