fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-ollama

chromadb
sentence-transformers
faiss-cpu

pyyaml